.ant-space.form-space-content {
  width: 100%;
  max-width: 1000px;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 3px 4px 20px 0px #00000059;
}
.ant-space.form-space-content .ant-space-item {
  width: inherit;
  & .ant-row {
    justify-content: space-evenly;
  }
}
.patient-header {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  & > .ant-typography {
    margin: 0 !important;
  }
}
.patient-form {
  min-width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}
