.ant-space.patient-container {
  width: 100%;
  max-width: 1000px;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 3px 4px 20px 0px #00000059;
}
.ant-space.patient-container .ant-space-item {
  width: inherit;
  & .ant-row {
    justify-content: space-evenly;
  }
}
.patient-header {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  & > .ant-typography {
    margin: 0 !important;
  }
}
.patient-form {
  min-width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}
.float-btn-lab-form[data-open='true'] {
  animation: onOpen 0.2s ease forwards;
}
.float-btn-lab-form[data-open='false'] {
  animation: onClose 0.5s cubic-bezier(0.84, -0.27, 0.64, 0.22) forwards;
}
.float-btn-lab-form {
  bottom: calc(100dvh - 80px);
  transition: left 0.5s
    linear(
      0 0%,
      0 1.8%,
      0.01 3.6%,
      0.03 6.35%,
      0.07 9.1%,
      0.13 11.4%,
      0.19 13.4%,
      0.27 15%,
      0.34 16.1%,
      0.54 18.35%,
      0.66 20.6%,
      0.72 22.4%,
      0.77 24.6%,
      0.81 27.3%,
      0.85 30.4%,
      0.88 35.1%,
      0.92 40.6%,
      0.94 47.2%,
      0.96 55%,
      0.98 64%,
      0.99 74.4%,
      1 86.4%,
      1 100%
    )
    0s;
  & > button .ant-float-btn-content {
    margin-right: 3px;
  }
}
@keyframes onOpen {
  0% {
    bottom: calc(100dvh - 80px);
  }
  100% {
    bottom: calc(100dvh - 180px);
  }
}
@keyframes onClose {
  0% {
    bottom: calc(100dvh - 180px);
  }
  100% {
    bottom: calc(100dvh - 80px);
  }
}
