.ant-form.form-component {
  padding-right: 2rem;
  padding-top: .5rem;
}
#labForm.ant-form.form-component {
  min-width: 410px;
  padding-right: 0;
  & .submit-container {
    text-align: right;
    position: sticky;
    bottom: 10px;
    & button {
      margin-bottom: 5px;
    }
  }
}
#labForm.ant-form.form-component .ant-col:first-child {
  all: unset;
  min-width: 165px;
  & label {
    width: 100%;
    justify-content: flex-end;
  }
}
.ant-form.form-component .ant-input-number {
  width: 100%;
}
.ant-form .anticon {
  margin-right: 1px;
}

@media screen and (max-width: 550px) {
  #labForm.ant-form.form-component {
    min-width: unset;
    padding-right: 0;
  }
  .ant-space.patient-container {
    width: 100%;
    & .ant-space-item {
      width: inherit;
    }
  }
}
@media screen and (max-width: 575px) {
  #labForm.ant-form.form-component .ant-col:first-child {
    flex: 0 0 100%;
    & label {
      justify-content: flex-start;
    }
  }
}