.ant-layout {
  min-height: 100dvh;
  width: auto !important;
  background-color: lavender;
}
.ant-layout-content {
  padding: 1rem;
}
.logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}
.ant-layout-sider-trigger {
  position: absolute !important;
}
