.main-login {
  height: 100dvh;
  min-height: 460px;
  min-width: 320px;
  background-color: rgb(59, 59, 59);
}
.hero {
  background-image: url('/images/hero.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(2px);
}
.login {
  padding: 1.5rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
  position: absolute;
  right: 0;
  width: clamp(300px, 50%, 750px);
  height: 100dvh;
  transition: all 0.5s;
}
.ant-form.login-form .ant-typography {
  margin-bottom: 2rem !important;
}
.ant-form.login-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  padding: .5rem 2rem;
  transition: padding 0.5s;
  position: relative;
}
.ant-form.login-form .login-form-header {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  & .ant-typography {
    margin-bottom: 0 !important;
  }
}
.ant-form.login-form .logo {
  align-self: center;
  width: clamp(70px, 15%, 250px);
}

@media screen and (max-width: 1023px) {
  .ant-form.login-form {
    padding: .5rem 0;
  }
}
@media screen and (max-width: 767px) {
  .login {
    height: auto;
    border-radius: 20px;
    right: unset;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
  .ant-form.login-form .login-form-header {
    position: inherit;
    & .ant-typography {
      margin-bottom: 2rem !important;
    }
  }
}